### Target ###
target/
target/classes/
target/generated-sources/
target/maven-archiver
target/maven-status
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
target/TelegramBot-1.0-SNAPSHOT.jar
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/generated-sources/annotations
target/classes/org/oopproject/MyBot.class
target/classes/org/oopproject/Main.class

### IntelliJ IDEA ###
.idea/
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/.gitignore
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/icon.svg
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Environmental Value ###
*.env
assets/token.env
assets/config.properties

### Other ###
/.metadata
/robots/.settings
/robots/bin
eclipse.bat
/out
/compiled
resources/frames.properties
/resources/jars/CatoRabbit.zip
/resources/images/catorabbit.jpg
/Makefile
/resources/images/pub.png
/bash.exe.stackdump
/resources/jars/CatoRabbit.jar
